{% if PLUGINS and 'tipue_search' in PLUGINS %}
{% extends 'base.html' %}
{% block title %}{{ _('Search') }} - {{ SITENAME|striptags }}{% endblock title %}
{% block content %}
<div class="entry-content">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
    </script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tipue_search_input').tipuesearch({
                'show': 8,
                'mode': 'json',
                'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
            });
        });
    </script>
    <article>
        <form action="search.html" align="center">
            <input type="text" name="q" size="60" id="tipue_search_input">
            <input type="button" id="tipue_search_button" value="Search" onclick="this.form.submit();">
        </form>
        <div id="tipue_search_content"></div>
    </article>
</div>
{% endblock content %}
{% endif %}